//Fonts
$main-ff: "Crimson Text";
$side-ff: "Julius Sans One";

//Colors

$white: #D9D9D9;
$black: #333333;
$purple: #5700d1;
$blue: #ecf2ff;
$green: #17a200;
$red: #e03c3c;

//Sizes
$container-max-width: 1500px;